:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --desktop-width: 111.5rem;
    --desktop-height: 60rem;
    --mobile-width: 32.8rem;
    --mobile-height: 142.8rem;
}
html { 
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    min-width: var(--desktop-width);
    background-image: url(bg-pattern-top-desktop.svg), url(bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: right 60vw bottom 58vh, left 25vw top 6vh;

}
/* MAIN */
main {
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}
/* CONTAINER */
.container {
    width: var(--desktop-width);
    height: var(--desktop-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header ratings"
    "socials socials";
}
/* TEXT */
.text {
    grid-area: header;
    padding-right: 15rem;
}
h1 {
    color: var(--very-dark-magenta);
    font-weight: 700;
    font-size: 5.5rem;
    margin: 0 0 2rem 0;
}
.intro {
    color: var(--dark-grayish-magenta);
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.ratings {
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 0 6rem;
}
/* RATING */
.rating {
    background-color: var(--light-grayish-magenta);
    border-radius: 1rem;
    padding-left: 3rem;
    width: 44.4rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
}
.r-1 {
    align-self: flex-start;
}
.r-2 {
    align-self: center;
}
.r-3 {
    align-self: flex-end;
}
.icon {
    padding-right: 0.7rem;
}
.star {
    display: inline-block;
    color: var(--very-dark-magenta);
    padding-left: 2.3rem;
    font-size: 1.7rem;
}
/* SOCIALS */
.socials {
    grid-area: socials;
    display: flex;
    justify-content: space-between;
    height: 26.5rem;
}
.post {
    width: 35rem;
    height: 23.4rem;
    background-color: var(--very-dark-magenta);
    border-radius: 1rem;
    padding: 4rem 3rem;
    
}
.p-1 {
    align-self: flex-start;
}
.p-2 {
    align-self: center;
    
}
.p-3 {
    align-self: flex-end;
}
.user {
    display: flex;
    align-items: center;
}
.users-data {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}
.name {
    align-self: flex-end;
    margin: 0;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}
.role {
    color: var(--soft-pink);
    font-weight: 400;
    margin: 0;
    font-size: 1.7rem;
}
/* PROFILE PHOTO */
[class*="-photo"] {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.name, .quote {
    color: var(--white);
}
h1, .star {
    font-weight: 700;
}
.quote {
    font-weight: 400;
    line-height: 2.1rem;
    font-size: 1.6rem;
    width: 27.5rem;
    margin-top: 2.7rem;
}
.p-2 .quote {
    width: 26.5rem;
}
.intro, .role {
    font-weight: 400;
}

/* FOOTER */
footer {
    width: 100%;
    height: 2%;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
/* MEDIA QUERY */
@media only screen and (max-width: 375px) {
    body {
        width: 100vw;
        height: 100%;
        min-width: var(--mobile-width);
        background-image: url(bg-pattern-top-mobile.svg), url(bg-pattern-bottom-mobile.svg);
        background-position: right -0.5vw bottom 183vh, left 0vw top 153vh;
    } 
    /* CONTAINER */
    .container {
        width: var(--mobile-width);
        height: var(--mobile-height);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 77.5rem;
        grid-template-areas: 
        "header"
        "ratings"
        "socials";
    }
    /* TEXT */
    .text {
        text-align: center;
        width: 32.9rem;
        padding: 0;
    }
    h1 {
        font-size: 3.5rem;
        padding: 7rem  4.5rem 0;
    }
    .intro {
        margin-bottom: 4.5rem;
    }
    /* RATINGS */
    .ratings {
        width: var(--mobile-width);
        height: 26.6rem;
        justify-content: space-between;
        margin-bottom: 4.9rem;
        padding: 0;
        text-align: center;
    }
    .rating {
        width: var(--mobile-width);
        height: 7.8rem;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .star { 
        padding: 0;
        margin: 1rem 0 0;
    }
    /* SOCIALS */
    .socials {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: var(--mobile-width);
        height: 77.5rem;
    }
    .post {
        width: var(--mobile-width);
        height: 24.8rem;
    }
    .quote {
        font-size: 1.7rem;
    }
}